target/
*.jar
*.class
.idea/
.vscode/
*.log
.DS_Store
/.idea/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Docker
*.dockerfile.tmp
/.idea/
